.ArrowUpButton__wrapper {
    width: 10rem;
    height: 4rem;
    margin: 2rem auto;
    cursor: pointer;
    border-radius: 5px;
}

.ArrowUpButton__arrow {
    margin: 0 auto;
    width: 50%;
}

.ArrowUpButton__background-white {
    background: #fff3f3;
}
.ArrowUpButton__background-black {
    background: #412222;
}
