.ArrowButton-wrapper {
    border: #fff3f3 solid .4rem;
    width: 25rem;
    margin: 2rem auto;
}
.ArrowButton__title{
    color: #412222;
    font-family: "Open Sans";
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    border-right: #fff3f3 solid .4rem;
    padding: 0 1rem;
    line-height: 4rem;    
}
.ArrowButton-arrow {
    margin-right: 2rem;
}
.ArrowButton-wrapper:hover {
    background: white;
    cursor: pointer;
}
