.Preview__animate {
    z-index: 100;
    height: 35rem;
    width: 35rem;
    padding: 3rem;
}
.Preview-wrapper {
    background: rgba(0,0,0,.75);
    
    color: #FFF3F3;
}
.Preview-wrapper h2, .Preview-wrapper > a {
    color: #FFF3F3;
}
.Preview-wrapper h2 {
    font-size: 3rem;
}
.Preview__title {
    animation: fadeInRight 1s ease-out;
}
.Preview__nav-text{
    line-height: 7rem;
    vertical-align: middle;
    animation: fadeInLeft 1s ease-out;
}
.Preview__nav-text:hover {
    font-weight: 700;
}
.Preview__img {
    height: 1rem;
}

@media screen and (min-width : 950px) {
    .Preview-wrapper {
        height: 30rem;
        width: 30rem;
    }
}
@media screen and (min-width : 1200px) {
    .page-center {
        top: 60rem;
    }
    .vignette--small {
        height: 30rem;
        width: 30rem;
    }
}

.Preview__animate {
    opacity: 0;
}
.Preview__animate:hover,
.Preview__animate:hover .Preview__link {
    opacity: 1;
    animation: growFromCenterline .3s ease-in;
}

@keyframes growFromCenterline {
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
}
