.ProjectStats__title--stat {
    color: #412222;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-top: 2rem;
}

.ProjectStats__info {
    color: #412222;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    line-height: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    max-width: 30rem;
}

.ProjectStats__title {
    color: #412222;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 5.2rem;
}
.ProjectStats__title__info {
    color: #412222;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-align: left;
}
.ProjectStats__section {
    width: 45%;
}
